.card {
    height: 10rem;
    width: 14rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0rem 1rem 1rem -1rem grey;

}

.card img {
    max-width: 100%;
    height: 100%;
    object-fit: 100% 100%;
}

a {
    position: absolute;
    top: 3.5rem;
    left: 4.5rem;
    backdrop-filter: blur(5px);
    /* padding-inline: 0.7rem; */
    /* padding-block: 0.5rem; */
    border:1px solid #fff;
    border-radius: 8px;
    text-decoration: none;
    color: currentColor;
    letter-spacing: 0.8px;
    padding: 0rem 1rem;
}